.project {
	display: flex;
	flex-direction: column;
	width: 46%;
	height: fit-content;
	background: red;
	cursor: pointer;

	background: #333333;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	transition: all .3s ease-out;

	margin: 10px 10px 10px 10px;
	padding: 0px 0px 10px 0px;
}

.project .floatRight {
	display: flex;
	align-items: center;
}

.project .winner em {
	font-family: "Open Sans", sans-serif;
	font-size: .8rem;
	font-weight: 300;
	text-align: right;
	font-style: normal;
	padding-right: 5px;
	color: white;
	background: #d8b90b;
	padding: 2px 10px;
	margin: 0px 3px 0px 3px;
	border-radius: 5px;
}

.project:hover {
	background: #35a6de;

	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

.project img {
	width: 100%;
	height: auto;
}

.content .heading {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 10px 10px 0 10px;
	align-items: center;
	margin: 0;
	color: white;
	line-height: 0px;
}

.content .heading .links>a {
	color: white;
	padding: 4px;
}

.content .heading .links>a * {
	width: 20px;
	height: auto;
}

.content .heading .links>a:hover {
	color: rgb(168, 168, 168);

	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

.content h1 {
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2rem;
	text-align: left;
}

.content .languages {
	display: flex;
	flex-flow: row wrap;
	word-wrap: break-word;
	padding: 10px 10px 5px 10px;
}

.content .languages em {
	font-family: "Open Sans", sans-serif;
	font-size: .8rem;
	font-weight: 300;
	text-align: left;
	font-style: normal;
	padding-right: 5px;
	color: white;
	padding: 1px 1px 1px 1px;
	margin: 0px 3px 0px 3px;
	border-radius: 5px;
	opacity: 0.6;
}

.content .languages em::before {}

.content .description {
	font-family: "Open Sans", sans-serif;
	color: white;
	font-size: .9rem;
	font-weight: 400;
	text-align: left;
	font-style: normal;
	padding: 10px 10px 5px 10px;
}

@media screen and (max-width: 600px) {
	.project {
		width: 94%;
	}
}