@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Raleway:500,600,700');

.Tabs {
  position: relative;
  display: inline-block;
  margin-bottom: 3px;
}
  
.Tabs__Tab {
  display: inline-block;
  width: 100px;
  /* top right bottom left  */
  padding: 1em;
  padding-top: 0;
  color: #35a6de;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;;
  font-weight: 600;
  -webkit-transition: all .25s ease-out;
  -moz-transition: all .25s ease-out;
  -o-transition: all .25s ease-out;
  -ms-transition: all .25s ease-out;
  transition: all .25s ease-out;
}
.Tabs__Tab--active {
  background-color: transparent;
}
.Tabs__Tab:hover {
  color: rgb(18, 122, 173);
  -webkit-transition: all .25s ease-out;
  -moz-transition: all .25s ease-out;
  -o-transition: all .25s ease-out;
  -ms-transition: all .25s ease-out;
  transition: all .25s ease-out;
}
  
.Tabs__Underline {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border-bottom: 2px solid #333333;
}

@media screen and (max-width: 375px){
  
}