.projects {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 25px;
    padding-bottom: 25px;
    height: 1000px;
    width: auto;
}

.projects hr {
    flex-basis: 100%;
    height: 0;
    margin: 0;
    border: 0;
}

.projects a {
    text-decoration: none;
    color: #333333;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.projects a:visited {
    color: #333333;
}

.projects .item {
    background-color: #333333;
    color: #FAFAFA;
    cursor: pointer;

    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12), 0 2px 1px -2px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12), 0 2px 1px -2px rgba(0, 0, 0, .2);
    width: 13rem;
    height: 13rem;
    margin: 0.8rem;

    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.projects .item:hover {
    cursor: pointer;
    background-color: #35a6de;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);

    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    transition: all .3s ease-in;
}


.projects .trophy {
    background: rgb(216, 185, 11);
}

/* 
.projects .item a:hover {
    cursor: pointer;
} */

.projects .item h1 {
    cursor: pointer;
    -ms-flex: 1 1;
    flex: 1 1;
    padding: 0.7rem;
    font-size: 1.125rem;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
}

.projects .item p {
    cursor: pointer;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0 .5rem;
    font-size: .75rem;
    font-weight: 400;
    text-align: center;
    line-height: 1.25rem;
    color: #ffffff;
    margin: 0px 5px 0 5px;
    padding-top: 5px;
}

.projects .item .icons {
    cursor: pointer;
    margin-top: 2rem;
    text-align: center;
    display: inline-block;
}

.projects .item .inProgress {
    background: #333333;
    height: 13rem;
    width: 13rem;
    position: relative;
    margin-top: -11.25rem;
    opacity: 0.9;
    padding: 0;
    transition: opacity .3s;
}

.projects .item .inProgress p {
    text-align: center;
    vertical-align: middle;
    line-height: 12rem;
    font-size: 1rem;
    font-weight: 600;
    align-content: center;
}

.projects .item .inProgress:hover {
    opacity: 0;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

@media screen and (max-width: 600px) {
    .projects {
        height: fit-content;
    }

    .projects .item {
        margin: 0.35rem;
    }
}

@media screen and (max-width: 505px) {

    .projects .item h1 {
        font-size: 1rem;
    }

    .projects .item p {
        font-size: .7rem;
    }

    .projects .item {
        width: 12rem;
        height: 12rem;
    }

    .projects .item .inProgress {
        height: 12rem;
        width: 12rem;
        margin-top: -11rem;
    }

    .projects .item .inProgress p {
        line-height: 11.1rem;
        font-size: 1rem;
    }
}

@media screen and (max-width: 485px) {

    /* TODO: fix left and right margin - justify content */
    .projects {
        /* justify-content:  */
    }
}

@media screen and (max-width: 470px) {

    .projects .item h1 {
        font-size: 0.95rem;
    }

    .projects .item p {
        font-size: .65rem;
    }

    .projects .item {
        width: 11.5rem;
        height: 11.5rem;
        margin: 0.1rem;
    }

    .projects .item .inProgress {
        height: 11.5rem;
        width: 11.5rem;
        margin-top: -10.9rem;
    }

    .projects .item .inProgress p {
        line-height: 10.6rem;
        font-size: 1rem;
    }
}

@media screen and (max-width: 412px) {

    .projects .item h1 {
        font-size: 0.8rem;
        padding-bottom: 0rem;
    }

    .projects .item p {
        font-size: .65rem;
    }

    .projects .item {
        width: 11rem;
        height: 11rem;
        margin: 0.1rem;
    }
}

@media screen and (max-width: 375px) {

    .projects .item {
        margin: 0.1rem;
        height: 10.75rem;
        width: 10.75rem;
    }

    .projects .item .inProgress {
        height: 10.5rem;
        width: 10.5rem;
        margin-top: -9rem;
    }

    .projects .item .inProgress p {
        line-height: 9.7rem;
        font-size: 1rem;
    }

    .projects .item .icons {
        margin-top: 20px;
    }
}