.portfolio-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 25px;
    padding-bottom: 25px;
}

.portfolio-items a {
    text-decoration: none;
    color: #333333;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.portfolio-items a:visited {
    color: #333333;
}

.portfolio-items .item {
    background-color: #333333;
    color: #FAFAFA;
    cursor: pointer;

    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12),0 2px 1px -2px rgba(0,0,0,.2);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12),0 2px 1px -2px rgba(0,0,0,.2);
    width: 13rem;
    height: 13rem;
    margin: 1rem;

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

.portfolio-items .item:hover {
    cursor: pointer;
    background-color: #23A8EA;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.5),0 1px 3px 0 rgba(0,0,0,.5),0 2px 1px -2px rgba(0,0,0,.5);

    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    -ms-transition: all .5s ease-in;
    transition: all .5s ease-in;
}

.portfolio-items .item a:hover {
    cursor: pointer;
}

.portfolio-items .item h1 {
    cursor: pointer;
    -ms-flex: 1 1;
    flex: 1 1;
    padding: 0.7rem;
    font-size: 1.125rem;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
}

.portfolio-items .item p {
    cursor: pointer;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0 .5rem;
    font-size: .75rem;
    font-weight: 400;
    text-align: center;
    line-height: 1.25rem;
    color: #ffffff;
    margin: 0px 5px 0 5px;
    padding-top: 5px;
}

.portfolio-items .item .icons {
    cursor: pointer;
    margin-top: 2rem;
    text-align: center;
    display: inline-block;
}