.awards {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}

.awards h2 {
  font-family: 'Raleway', sans-serif;;
  font-size: 1.2rem;
  font-weight: 700;
  color: #35a6de;
  text-align: left;
  margin-left: 15px;
  margin-top: 20px;
}

.awards .award {
  display: block;

  margin-left: 35px;
  margin-right: 10px;
}

.awards .award h3 {
  font-family: 'Raleway', sans-serif;;
  font-size: 1rem;
  font-weight: 700;
  text-align: left;

  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.awards .award h3 a {
  text-decoration: none;
  color: #333333;

  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

/* .awards .award h3 a:hover {
  color: #35a6de;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  transition: all .3s ease-in;
} */
  
.awards .award h5 {
    font-family: 'Raleway', sans-serif;;
    font-size: 0.85rem;
    font-weight: 500;
    color: #333333;
    text-align: left;
    margin-top: -17px;
}

.awards .award p {
  font-family: 'Raleway', sans-serif;;
  font-size: 0.95rem;
  font-weight: 400;
  color: #333333;
  margin-top: -15px;
}

@media screen and (max-width: 600px) {

  .awards .award {
    margin-left: 30px;
  }
  
}

@media screen and (max-width: 485px){

  .awards {
    margin-left: 0;
    margin-right: 0;
  }

  .awards h2 {
    margin-left: 15px;
  }

  .awards .award {
    margin-left: 15px;
  }

  .awards .award h3 {
    font-size: 0.85rem;
  }

  .awards .award h5 {
    font-size: 0.82rem;
  }

  .awards .award p {
    font-size: 0.8rem;
  }

  .scrollable .skills .list em {
    font-size: 0.90rem;
  }
}

@media screen and (max-width: 430px){

  .awards .award p {
    margin-right: 15px;
  }
    
}

@media screen and (max-width: 375px){

  .experience .job h3 {
    font-size: 0.85rem;
  }

  .experience .job h5 {
    font-size: 0.75rem;
  }

  .experience .job .details h4 {
    font-size: 0.8rem;
  }

  .experience .job .details li {
    display: block;
    white-space: normal;
  }
  
}