.intro {
    margin-left:7%;
    margin-right:auto;
    padding: 30px;
    text-align: center;
    position: fixed;
    flex-wrap: wrap;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.intro img {
    width: 110px;
    height: 100px;
    margin-bottom: -40px;
}

.intro h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    font-weight: 600;
    color: #35a6de;
    margin-bottom: -25px;
}

.intro h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: #333333;
    margin-bottom: 25px;
}

.social-media {
    display: inline-flex;
}

.social-media a {
    padding: 10px;
    color: #333333;

    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.social-media a:hover {
    color: #35a6de;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

@media screen and (max-width: 600px) {

    .intro {
      top: auto;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
      margin-left:0;
      margin-right:0;
      position: relative;
    }
    .intro h1 {
      font-size: 2.5rem;
      margin-top: 40px;
    }
    .intro h2 {
      font-size: 1.5rem;
      margin-bottom: 20px;
    }
  }

@media screen and (max-width: 375px) {

    .intro h1 {
        font-size: 2rem;
        margin-top: 40px;
        margin-bottom: -20px;
    }
    .intro h2 {
        font-size: 1.2rem;
        margin-bottom: 20px;
    }

    .intro .social-media {
        font-size: 13px;
    }
}
