.experience {
    border-top: 1px solid rgba(128, 128, 128, 0.3);
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 15px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
    padding-bottom: 15px;
  }
  
  .experience h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    color: #35a6de;
    text-align: left;
    margin-left: 15px;
    margin-top: 20px;
  }

  .experience .job {
    
  }

  .experience .job .heading {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .experience .job .heading h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: #333333;
    text-align: left;
    float: left;
    margin-left: 35px; 
    margin-top: -1px;
    padding-right: 20px;
  }

  .experience .job .heading h3 a {
    text-decoration: none;
    color: #333333;
  }

 .experience .job .heading h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: #333333;
    text-align: left;
    color: #35a6de;
    margin-top: 0;
  }

  .experience .job .heading h4::before {
    content: "• ";
    color: #35a6de;
  }
  
  .experience .job h5 {
    float: left;
    margin-left: 35px;
    margin-top: -25px;
    margin-bottom: 0px;
    font-family: 'Raleway', sans-serif;
    font-size: 0.85rem;
    font-weight: 500;
    color: #333333;
  }
  
 .experience .job ul {
    list-style: none;
    margin-top: 25px;
    font-family: 'Raleway', sans-serif;
    font-size: 0.95rem;
    font-weight: 400;
    color: #333333;
    text-align: left;
    margin-top: -2px;
  }

  .experience .job ul li {
    list-style-position: outside;
    margin-left: 1em;
  }
  
  .experience .job li::before {
    content: "• ";
    color: #35a6de;
  }
  
  @media screen and (max-width: 600px) {

    .experience .job {
      margin-left: -10px;
    }
    .experience .job ul {
      font-size: 0.95rem;
    }
    
  }

  @media screen and (max-width: 555px) {

    .experience .job .heading h3 {
      font-size: 0.95rem;
    }

    .experience .job .heading h4 {
      font-size: 0.95rem;
    }
    
    .experience .job h5 {
      font-size: 0.82rem;
    }
    
    .experience .job ul {
      font-size: 0.85rem;
    }
  }

  @media screen and (max-width: 485px){

    .experience {
      margin-left: 0;
    }

    .experience .job {
      margin-left: -15px;
    }

    .experience .job .heading h3 {
      font-size: 0.85rem;
    }

    .experience .job .heading h4 {
      font-size: 0.85rem;
      margin-left: -8px;
    }

    .experience .job h5 {
      margin-top: -23px;
    }

    .experience .job ul {
      font-size: 0.8rem;
      margin-top: 0px;
      margin-left: -5px;
      margin-right: -15px;
    }

  }

  @media screen and (max-width: 430px){

    .experience {
      margin-left: 0;
      margin-right: 0;      
    }
    
    .experience .job {
      margin-left: -15px;
      margin-right: 0px;
    }
    
    .experience .job ul {
      font-size: 0.83rem;
      margin-left: -15px;
      margin-right: 5px;
    }
      
  }

  @media screen and (max-width: 375px){

    .experience {
      margin-left: 0px;
      margin-right: 0px;
      margin-top: 0px;
    }

    .experience .job .heading h3 {
      font-size: 0.8rem;
      margin-top: 0px;
    }

    .experience .job .heading h4 {
      font-size: 0.85rem;
      margin-left: -40px;
    }

    .experience .job h5 {
      margin: 0;
      font-size: 0.75rem;
    }

    .experience .job h4 {
      font-size: 0.8rem;
    }

    .experience .job .details li {
      display: block;
      white-space: normal;
    }
    
  }
  