.scrollable .experience {
    border-top: 1px solid rgba(128, 128, 128, 0.3);
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 30px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
    padding-bottom: 15px;
  }
  
  .scrollable .experience h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    color: #35a6de;
    text-align: left;
    margin-left: 15px;
    margin-top: 20px;
  }
  
  .scrollable .experience .job h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: #333333;
    text-align: left;
    float: left;
    margin-left: 35px; 
    margin-top: -1px;
    padding-right: 20px;
  }
  
  .scrollable .experience .job h5 {
    font-family: 'Raleway', sans-serif;
    font-size: 0.85rem;
    font-weight: 500;
    color: #333333;
    text-align: left;
    float: left;
    margin: 18px 0 0 -194px;
  }
  
  .scrollable .experience .job .details {
    white-space: nowrap;
  }
  
  .scrollable .experience .job .details ul {
    list-style: none;
    margin-top: 25px;
    font-family: 'Raleway', sans-serif;
    font-size: 0.95rem;
    font-weight: 400;
    color: #333333;
    text-align: left;
    margin-left: 5px;
  }
  
  .scrollable .experience .job .details li::before {
    content: "• ";
    color: #35a6de;
  }
  
  .scrollable .experience .job .details h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: #333333;
    text-align: left;
    color: #35a6de;
  }
  
  .scrollable .experience .job .details h4::before {
    content: "• ";
    color: #35a6de;
  }

  @media screen and (max-width: 600px) {

    .scrollable .experience .job {
      margin-left: -10px;
    }
    .scrollable .experience .job .details ul {
      margin-left: -5px;
      font-size: 0.85rem;
    }
    
  }

  @media screen and (max-width: 485px){

    .scrollable .experience .job {
      margin-left: -15px;
    }

    .scrollable .experience .job h3 {
      font-size: 0.9rem;
    }

    .scrollable .experience .job h5 {
      margin: 18px 0 0 -176px;
    }

    .scrollable .experience .job .details h4 {
      font-size: 0.9rem;
    }

    .scrollable .experience .job .details ul {
      font-size: 0.9rem;
    }

  }

  @media screen and (max-width: 430px){

    .scrollable .experience {
      margin-left: 10px;
      margin-top: -10px;
    }

    .scrollable .experience .job h3 {
      padding-right: 5px;
    }

    .scrollable .experience .job h5 {
      margin: 18px 0 0 -162px;
    }

    .scrollable .experience .job .details ul {
      font-size: 0.75rem;
    }
      
  }

  @media screen and (max-width: 375px){

    .scrollable .experience {
      margin-left: 0px;
      margin-right: 0px;
      margin-top: -30px;
    }

    .scrollable .experience .job h3 {
      font-size: 0.85rem;
      margin-top: 0px;
    }

    .scrollable .experience .job h5 {
      margin: 15px 0 0 -153px;
      font-size: 0.75rem;
    }

    .scrollable .experience .job .details h4 {
      font-size: 0.8rem;
    }

    .scrollable .experience .job .details li {
      display: block;
      white-space: normal;
    }
    
  }
  